.main-container {
    height: 100px;
    display: block;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: left;
    margin-left: 42%;
    margin-bottom: 30px
}

.sub-container {
    display: flex;
    justify-content: left;
    margin-left: 40%;
    margin-bottom: 30px
}

.name {
    padding-bottom: 8px
}

.plus {
    padding-left: 40px
}

h3 {
    color: gray;
}

.detail {
    color: gray;
}