<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'team_management/style.css' %}">
</head>


<body>



    <form action="{% url 'edit' id=employee.id %}" method="POST">
        {% csrf_token %}
        <center>
            <h1>Edit a team member</h1>

            <div style="margin: 10px auto; width:50%">
                <label>First Name</label>
                <input type="text" name="firstname" value="{{employee.firstname}}">
            </div>

            <div style="margin: 10px auto; width:50%">
                <label>Last Name</label>
                <input type="text" name="lastname" value="{{employee.lastname}}">
            </div>

            <div style="margin: 10px auto; width:50%">
                <label>Email</label>
                <input type="email" name="email" value="{{employee.email}}">
            </div>

            <!-- <div style="margin: 10px auto; width:50%">
                <label>Role</label>
                <input type="text" name="role" value="{{employee.role}}">
            </div> -->

            <div style="margin: 10px auto; width:50%">
                <label>Role</label>
                <select name="role">
                    <option value="REGULAR" {% if employee.role == 'REGULAR' %} selected {% endif %}>Regular - Can't delete members</option>
                    <option value="ADMIN" {% if employee.role == 'ADMIN' %} selected {% endif %}>Admin - Can delete members</option>
                    <!-- <option value="REGULAR" selected>Regular - Can't delete members</option>
                    <option value="ADMIN">Admin - Can delete members</option> -->
                </select>
            </div>

            <div style="margin: 10px auto; width:50%">
                <label>Salary</label>
                <input type="number" name="salary" value="{{employee.salary}}">
            </div>

            <div style="margin: 10px auto; width:50%">
                <input type="submit" value="save" style="background-color: cornflowerblue; color: white">
            </div>

            <div style="margin: 10px auto; width:50%">
                <input type="submit" name="action" value="delete"
                    style="background-color: rgb(243, 137, 153); color: white">
            </div>

        </center>
    </form>
</body>

</html>