<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'team_management/style.css' %}">
</head>


<body>



    <form action="{% url 'edit' id=employee.id %}" method="POST">
        {% csrf_token %}
   
            <div class="main-container">
                <h1>Edit a team member</h1>
                <h3>Edit email, phone number and role.</h3>
            </div>
            

            <h4 class="sub-container">Info</h4>
            <div class="container">
                <label>First Name: </label>
                <input type="text" name="firstname" value="{{employee.firstname}}">
            </div>

            <div class="container">
                <label>Last Name: </label>
                <input type="text" name="lastname" value="{{employee.lastname}}">
            </div>


            <div class="container">
                <label>Email: </label>
                <input type="email" name="email" value="{{employee.email}}">
            </div>

            <div class="container">
                <label>Phone Number: </label>
                <input type="phone" name="phone_number" value="{{employee.phone_number}}">
            </div>


            <h4 class="sub-container">Role</h4>
            <div class="container">
                <label>Role: </label>
                <select name="role">
                    <option value="REGULAR" {% if employee.role == 'REGULAR' %} selected {% endif %}>Regular - Can't delete members</option>
                    <option value="ADMIN" {% if employee.role == 'ADMIN' %} selected {% endif %}>Admin - Can delete members</option>
                </select>
            </div>

            <div class="container">
                <input type="submit" name="action" value="delete"
                    style="background-color: rgb(243, 137, 153); color: white; margin-left: 40">
                <input type="submit" value="save" style="background-color: cornflowerblue; color: white; margin-left: 120px">
            </div>

    </form>
</body>

</html>