<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'team_management/style.css' %}">
</head>


<body>
    <div class="main-container">
        <div class="row">
            
            <h1>Team members  <span class="plus"><a href="showMember" style="text-decoration:none" >
                <span>&#43;</span>
            </a></span> </h1>
            <h3>You have {{ members|length }} team members.</h3>
        </div>
    </div>



    {% for member in members %}
    <div class="container">
        <div class="row">

            <a href="editMember/{{ member.id }}" style="text-decoration:none">
                <div class="name"> {{ member.firstname }} {{ member.lastname }} {% if member.role == 'ADMIN' %} (admin) {% endif %}</div>
            </a>
            <div class="detail">{{ member.phone_number }}</div>
            <div class="detail">{{ member.email }}</div>

        </div>
    </div>
    {% endfor %}




</body>

</html>