<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'team_management/style.css' %}">
</head>


<body>
    <div class="main-container">
        <div class="row">
            
            <h1>Team members  <span class="plus"><a href="showEmployeeForm" style="text-decoration:none" >
                <span>&#43;</span>
            </a></span> </h1>
            <h3>You have {{ employees|length }} team members.</h3>
        </div>
    </div>



    {% for employee in employees %}
    <div class="container">
        <div class="row">
            <!-- <span>{{ employee.id }}</span> -->

            <a href="editEmployee/{{ employee.id }}" style="text-decoration:none">
                <div class="name"> {{ employee.firstname }} {{ employee.lastname }} {% if employee.role == 'ADMIN' %} (admin) {% endif %}</div>
            </a>
            <div class="detail">{{ employee.phone_number }}</div>
            <div class="detail">{{ employee.email }}</div>
            <!-- <span>{{ employee.salary }}</span> -->
            <!-- <span><a href="editEmployee/{{ employee.id }}">Edit</a></span> -->

        </div>
    </div>
    {% endfor %}




</body>

</html>